<section id="about">
    <div class="container-fluid">
            <h2 class="visible-xs">{{ 'app.title.biography'|trans }}</h2>
            <div class="col-sm-6 wow fadeInUp">
            </div>
            <div class="col-sm-6 wow fadeInRight textbio">
                {{ ez_render_field(content, 'text_bio') }}
            </div>
        <h2 class="title-bio hidden-xs">{{ 'app.title.biography'|trans }}</h2>
    </div>
</section>